page{
		background: $page-color-base;
		padding-bottom: 160upx;
	}
	.icon-you{
		font-size: $font-base + 2upx;
		color: #888;
	}
	.carousel {
		height: 722upx;
		position:relative;
		swiper{
			height: 100%;
		}
		.image-wrapper{
			width: 100%;
			height: 100%;
		}
		.swiper-item {
			display: flex;
			justify-content: center;
			align-content: center;
			height: 750upx;
			overflow: hidden;
			image {
				width: 100%;
				height: 100%;
			}
		}
		
	}
	.detail-text{
		// background-color: #FFFFFF;
		padding: 20rpx 0 20rpx 0;
		.spike{
			height: 100rpx;
			width: 96%;
			margin-left: 2%;
			background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
			border-radius: 15rpx;
			padding-left: 20rpx;
			.price-tip{
				float: left;
				font-size: 36rpx;
				font-weight: bold;
				line-height: 70rpx;
				margin-top: 20rpx;
				color: #FFFFFF;
			}
			.price{
				float: left;
				font-size: 56rpx;
				font-weight: bold;
				line-height: 100rpx;
				color: #FFFFFF;
			}
			.m-price{
				margin:0 12upx;
				color: $font-color-light;
				text-decoration: line-through;
				line-height: 50rpx;
				margin-bottom: 70rpx;
				color: #FFFFFF;
			}
		}
		.no-spike{
			height: 100rpx;
			width: 96%;
			margin-left: 2%;
			border-radius: 15rpx;
			padding-left: 20rpx;
			.price-tip{
				float: left;
				font-size: 36rpx;
				font-weight: bold;
				line-height: 70rpx;
				margin-top: 20rpx;
				color: #aa0000;
			}
			.price{
				float: left;
				font-size: 56rpx;
				font-weight: bold;
				line-height: 100rpx;
				color: #aa0000;
			}
			.m-price{
				margin:0 12upx;
				color: $font-color-light;
				text-decoration: line-through;
				line-height: 50rpx;
				margin-bottom: 70rpx;
				color: #aa0000;
			}
		}
		.product-info{
			padding: 20rpx 30rpx;
			.coupon-tip{
				padding-right: 5rpx;
				height: 120rpx;
				text-align: center;
				background: #ED1C24;
				font-size: 20rpx;
				color: #fff;
				border-radius: 6upx;
			}
			.title{
				padding-left: 10rpx;
				font-size: 28rpx;
				font-weight: bold;
				color: $font-color-dark;
				line-height: 60upx;
			}
		}
		.bot-row{
			padding-left: 30rpx;
			.bot-text{
				padding-right: 50rpx;
				align-items:center;
				height: 50upx;
				font-size: $font-sm;
				color: $font-color-light;
			}

		}
	}
	
	
	/* 标题简介 */
	.introduce-section{
		background: #fff;
		padding: 20upx 30upx;
		
		.title{
			font-size: 32upx;
			color: $font-color-dark;
			height: 50upx;
			line-height: 50upx;
		}
		.price-box{
			display:flex;
			align-items:baseline;
			height: 64upx;
			padding: 10upx 0;
			font-size: 26upx;
			color:$uni-color-primary;
		}
		.price{
			font-size: $font-lg + 2upx;
		}
		.m-price{
			margin:0 12upx;
			color: $font-color-light;
			text-decoration: line-through;
		}
		.coupon-tip{
			align-items: center;
			padding: 4upx 10upx;
			background: $uni-color-primary;
			font-size: $font-sm;
			color: #fff;
			border-radius: 6upx;
			line-height: 1;
			transform: translateY(-4upx); 
		}
		.bot-row{
			display:flex;
			align-items:center;
			height: 50upx;
			font-size: $font-sm;
			color: $font-color-light;
			text{
				flex: 1;
			}
		}
	}
	/* 分享 */
	.share-section{
		display:flex;
		align-items:center;
		color: $font-color-base;
		background: linear-gradient(left, #fdf5f6, #fbebf6);
		padding: 12upx 30upx;
		.share-icon{
			display:flex;
			align-items:center;
			width: 70upx;
			height: 30upx;
			line-height: 1;
			border: 1px solid $uni-color-primary;
			border-radius: 4upx;
			position:relative;
			overflow: hidden;
			font-size: 22upx;
			color: $uni-color-primary;
			&:after{
				content: '';
				width: 50upx;
				height: 50upx;
				border-radius: 50%;
				left: -20upx;
				top: -12upx;
				position:absolute;
				background: $uni-color-primary;
			}
		}
		.icon-xingxing{
			position:relative;
			z-index: 1;
			font-size: 24upx;
			margin-left: 2upx;
			margin-right: 10upx;
			color: #fff;
			line-height: 1;
		}
		.tit{
			font-size: $font-base;
			margin-left:10upx;
		}
		.icon-bangzhu1{
			padding: 10upx;
			font-size: 30upx;
			line-height: 1;
		}
		.share-btn{
			flex: 1;
			text-align:right;
			font-size: $font-sm;
			color: $uni-color-primary;
		}
		.icon-you{
			font-size: $font-sm;
			margin-left: 4upx;
			color: $uni-color-primary;
		}
	}
	
	.c-list{
		font-size: $font-sm + 2upx;
		color: $font-color-base;
		background: #fff;
		.c-row{
			display:flex;
			align-items:center;
			padding: 20upx 30upx;
			position:relative;
		}
		.tit{
			width: 140upx;
		}
		.con{
			flex: 1;
			color: $font-color-dark;
			.selected-text{
				margin-right: 10upx;
			}
		}
		.bz-list{
			height: 40upx;
			font-size: $font-sm+2upx;
			color: $font-color-dark;
			text{
				display: inline-block;
				margin-right: 30upx;
			}
		}
		.con-list{
			flex: 1;
			display:flex;
			flex-direction: column;
			color: $font-color-dark;
			line-height: 40upx;
		}
		.red{
			color: $uni-color-primary;
		}
	}
	
	.coupons{
		background: #fff;
		margin-top: 16upx;
		height: 80upx;
		line-height: 80upx;
		font-size: $font-sm + 2upx;
		display:flex;
		width: 100%;
		align-items:center;
		position:relative;
		.coupon_title{
			margin-left: 30upx;
			width: 140upx;
			font-weight: 700;
			font-size: 28upx;
		}
		.coupons_name{
			width: 70%;
			.coupon_name{
				
			}
		}
	}
	
	/* 评价 */
	.eva-section{
		display: flex;
		flex-direction: column;
		padding: 20upx 30upx;
		background: #fff;
		margin-top: 16upx;
		.e-header{
			display: flex;
			align-items: center;
			height: 70upx;
			font-size: $font-sm + 2upx;
			color: $font-color-light;
			.tit{
				font-size: $font-base + 2upx;
				color: $font-color-dark;
				margin-right: 4upx;
			}
			.tip{
				flex: 1;
				text-align: right;
			}
			.icon-you{
				margin-left: 10upx;
			}
		}
	}
	.eva-box{
		display: flex;
		padding: 20upx 0;
		.portrait{
			flex-shrink: 0;
			width: 80upx;
			height: 80upx;
			border-radius: 100px;
		}
		.right{
			flex: 1;
			display: flex;
			flex-direction: column;
			font-size: $font-base;
			color: $font-color-base;
			padding-left: 26upx;
			.con{
				font-size: $font-base;
				color: $font-color-dark;
				padding: 20upx 0;
			}
			.bot{
				display: flex;
				justify-content: space-between;
				font-size: $font-sm;
				color:$font-color-light;
			}
		}
	}
	/*  详情 */
	.detail-desc{
		background: #fff;
		margin-top: 16upx;
		.d-header{
			display: flex;
			justify-content: center;
			align-items: center;
			height: 80upx;
			font-size: $font-base + 2upx;
			color: $font-color-dark;
			position: relative;
				
			text{
				padding: 0 20upx;
				background: #fff;
				position: relative;
				z-index: 1;
			}
			&:after{
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translateX(-50%);
				width: 300upx;
				height: 0;
				content: '';
				border-bottom: 1px solid #ccc; 
			}
		}
		
		
	}
	
	
	/* 规格选择弹窗 */
	.attr-content{
		padding: 10upx 30upx;
		.a-t{
			display: flex;
			image{
				width: 170upx;
				height: 170upx;
				flex-shrink: 0;
				margin-top: -40upx;
				border-radius: 8upx;;
			}
			.right{
				display: flex;
				flex-direction: column;
				padding-left: 24upx;
				font-size: $font-sm + 2upx;
				color: $font-color-base;
				line-height: 42upx;
				.price{
					font-size: $font-lg;
					color: $uni-color-primary;
					margin-bottom: 10upx;
				}
				.selected-text{
					margin-right: 10upx;
				}
			}
		}
		.attr-list{
			display: flex;
			flex-direction: column;
			font-size: $font-base + 2upx;
			color: $font-color-base;
			padding-top: 30upx;
			padding-left: 10upx;
		}
		.item-list{
			padding: 20upx 0 0;
			display: flex;
			flex-wrap: wrap;
			text{
				display: flex;
				align-items: center;
				justify-content: center;
				background: #eee;
				margin-right: 20upx;
				margin-bottom: 20upx;
				border-radius: 100upx;
				min-width: 60upx;
				height: 60upx;
				padding: 0 20upx;
				font-size: $font-base;
				color: $font-color-dark;
			}
			.selected{
				background: #fbebee;
				color: $uni-color-primary;
			}
		}
	}
	
	/*  弹出层 */
	.popup {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 99;
		
		&.show {
			display: block;
			.mask{
				animation: showPopup 0.2s linear both;
			}
			.layer {
				animation: showLayer 0.2s linear both;
			}
		}
		&.hide {
			.mask{
				animation: hidePopup 0.2s linear both;
			}
			.layer {
				animation: hideLayer 0.2s linear both;
			}
		}
		&.none {
			display: none;
		}
		.mask{
			position: fixed;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background-color: rgba(0, 0, 0, 0.4);
		}
		.layer {
			position: fixed;
			z-index: 99;
			bottom: 0;
			width: 100%;
			min-height: 40vh;
			border-radius: 10upx 10upx 0 0;
			background-color: #fff;
			.btn{
				height: 66upx;
				line-height: 66upx;
				border-radius: 100upx;
				background: $uni-color-primary;
				font-size: $font-base + 2upx;
				color: #fff;
				margin: 30upx auto 20upx;
				bottom: 10upx;
			}
			.param-header{
				display: flex;
				justify-content: center;
				align-items: center;
				height: 80upx;
				font-size: $font-base + 2upx;
				color: $font-color-dark;
				position: relative;
					
				text{
					padding: 0 20upx;
					background: #fff;
					position: relative;
					z-index: 1;
				}
				&:after{
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translateX(-50%);
					width: 300upx;
					height: 0;
					content: '';
					border-bottom: 1px solid #ccc; 
				}
			}
			.param-content{
				height: 430upx;
				.p-row{
					min-height: 80upx;
					border-bottom: 2upx solid #eee;
					background: #fff;
					.p-name{
						display: block;
						color: black;
						font-size: 20upx;
						width: 150upx;
						float: left;
						margin-top: 15upx;
					}
					.p-value{
						display: block;
						color: #908181;
						float: left;
						font-size: 20upx;
						margin-top: 15upx;
					}
				}
			}
		}
		@keyframes showPopup {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
		@keyframes hidePopup {
			0% {
				opacity: 1;
			}
			100% {
				opacity: 0;
			}
		}
		@keyframes showLayer {
			0% {
				transform: translateY(120%);
			}
			100% {
				transform: translateY(0%);
			}
		}
		@keyframes hideLayer {
			0% {
				transform: translateY(0);
			}
			100% {
				transform: translateY(120%);
			}
		}
	}
	.coupons_opup{
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 99;
		
		&.show {
			display: block;
			.mask{
				animation: showPopup 0.2s linear both;
			}
			.layer {
				animation: showLayer 0.2s linear both;
			}
		}
		&.hide {
			.mask{
				animation: hidePopup 0.2s linear both;
			}
			.layer {
				animation: hideLayer 0.2s linear both;
			}
		}
		&.none {
			display: none;
		}
		.mask{
			position: fixed;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background-color: rgba(0, 0, 0, 0.4);
		}
		.layer {
			position: fixed;
			z-index: 99;
			bottom: 0;
			width: 100%;
			min-height: 40vh;
			border-radius: 10upx 10upx 0 0;
			background-color: #fff;
			.btn{
				height: 66upx;
				line-height: 66upx;
				border-radius: 100upx;
				background: $uni-color-primary;
				font-size: $font-base + 2upx;
				color: #fff;
				margin: 30upx auto 20upx;
				bottom: 10upx;
			}
			.param-header{
				display: flex;
				justify-content: center;
				align-items: center;
				height: 80upx;
				font-size: $font-base + 2upx;
				color: $font-color-dark;
				position: relative;
					
				text{
					padding: 0 20upx;
					background: #fff;
					position: relative;
					z-index: 1;
				}
				&:after{
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translateX(-50%);
					width: 300upx;
					height: 0;
					content: '';
					border-bottom: 1px solid #ccc; 
				}
			}
			.param-content{
				height: 530upx;
				.param-content_min_title{
					font-size: 20upx;
				}
				.coupon_card{
					margin-top: 30upx;
					height: 160upx;
					background-color: #FF2750;
					border-radius: 10upx;
					color: white;
					.coupon_detils{
						width: 70%;
						padding-left: 20upx;
						.coupon_detils_first{
							height: 40upx;
							margin-top: 20upx;
							vertical-align:bottom;
							.coupon_amount_pre{
								font-size: 20upx;
								width: 10upx;
							}
							.coupon_amount{
								font-size: 50upx;
							}
							.coupon_name{
								width: calc(100% - 170upx);
							}
						}
						.coupon_second{
							font-size: 25upx;
						}
						.coupon_third{
							font-size: 24upx;
						}
					}
					.collect_coupon{
						border-left: dashed 1px #d8d8d8;
						line-height: 160upx;
						width: 30%;
						text-align: center;
					}
				}
				.p-row{
					min-height: 80upx;
					border-bottom: 2upx solid #eee;
					background: #fff;
					.p-name{
						display: block;
						color: black;
						font-size: 20upx;
						width: 150upx;
						float: left;
						margin-top: 15upx;
					}
					.p-value{
						display: block;
						color: #908181;
						float: left;
						font-size: 20upx;
						margin-top: 15upx;
					}
				}
			}
		}
		@keyframes showPopup {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
		@keyframes hidePopup {
			0% {
				opacity: 1;
			}
			100% {
				opacity: 0;
			}
		}
		@keyframes showLayer {
			0% {
				transform: translateY(120%);
			}
			100% {
				transform: translateY(0%);
			}
		}
		@keyframes hideLayer {
			0% {
				transform: translateY(0);
			}
			100% {
				transform: translateY(120%);
			}
		}
	}
	
	/* 底部操作菜单 */
	.page-bottom{
		position:fixed;
		// left: 30upx;
		bottom:0upx;
		z-index: 95;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100upx;
		background: rgba(255,255,255,.9);
		box-shadow: 0 0 20upx 0 rgba(0,0,0,.5);
		// border-radius: 16upx;
		
		
		.p-b-btn{
			display:flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			font-size: $font-sm;
			color: $font-color-base;
			width: 96upx;
			height: 80upx;
			.yticon{
				font-size: 40upx;
				line-height: 48upx;
				color: $font-color-light;
			}
			&.active, &.active .yticon{
				color: $uni-color-primary;
			}
			.icon-fenxiang2{
				font-size: 42upx;
				transform: translateY(-2upx);
			}
			.icon-shoucang{
				font-size: 46upx;
			}
		}
		.action-btn-group{
			display: flex;
			height: 76upx;
			border-radius: 100px;
			overflow: hidden;
			box-shadow: 0 20upx 40upx -16upx #fa436a;
			box-shadow: 1px 2px 5px rgba(219, 63, 96, 0.4);
			background: linear-gradient(to right, #ffac30,#fa436a,#F56C6C);
			margin-left: 20upx;
			position:relative;
			&:after{
				content: '';
				position:absolute;
				top: 50%;
				right: 50%;
				transform: translateY(-50%);
				height: 28upx;
				width: 0;
				border-right: 1px solid rgba(255,255,255,.5);
			}
			.action-btn{
				display:flex;
				align-items: center;
				justify-content: center;
				width: 180upx;
				height: 100%;
				font-size: $font-base ;
				padding: 0;
				border-radius: 0;
				background: transparent;
			}
		}
	}
	
	
	
	/**
	 * 数量加减
	 */

	/*主容器*/  
	.stepper {  
	    width: 80px;  
	    height: 26px;  
	    /*给主容器设一个边框*/  
	    border: 1px solid #ccc;  
	    border-radius: 3px;  
	    margin:5px 8px;
		background: #eee;
	}  
	  
	/*加号和减号*/  
	.stepper text {  
	    width: 19px;  
	    line-height: 26px;  
	    text-align: center;  
	    float: left;  
	}  
	  
	/*数值*/  
	.stepper input {  
	    width: 40px;  
	    height: 26px;  
	    float: left;  
	    margin: 0 auto;  
	    text-align: center;  
	    font-size: 12px;  
	    /*给中间的input设置左右边框即可*/  
	    border-left: 1px solid #ccc;  
	    border-right: 1px solid #ccc;  
	}  
	  
	/*普通样式*/  
	.stepper .normal{  
	    color: black;  
	}  
	  
	/*禁用样式*/  
	.stepper .disabled{  
	    color: #eee;  
	} 