.content{
	position: relative;
	.bg-color-card{
		position: fixed;
		width: 100%;
		height: 50%;
		border-radius: 0rpx 0rpx 0rpx 300rpx;
		margin-bottom: 50%;
		background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
		z-index: -99;
	}
	.image{
		position: fixed;
		margin-top: calc(30% - 100rpx);
		margin-left: calc(50% - 100rpx);
		z-index: 99;
		
		.heardimg{
			width: 200rpx;
			height: 200rpx;
			border-radius: 200rpx;
			border: 5rpx solid #FFFFFF;
		}
	}

	.info-card{
		position: fixed;
		margin-left: 10%;
		margin-top: 30%;
		width: 80%;
		height: 50%;
		border-radius: 40rpx;
		background-color: #FFFFFF;
		box-shadow:10rpx  10rpx 20rpx 10rpx rgba(194, 204, 207, 0.2) ; 
		padding-top: 150rpx;
		text-align: center;
		.name{
			line-height: 70rpx;
			font-size: 35rpx;
			font-weight: bold;
			color: #666;
		}
		.sex{
			text-align: center;
			.sex-img{
				width: 40rpx;
				height: 40rpx;
			}
		}
		.phone{
			margin-top: 100rpx;
			width: 80%;
			margin-left: 10%;
			.p-img{
				float: left;
				margin-left: 10%;
				width: 40rpx;
				height: 40rpx;
				// top: 8rpx;
			}
			.p-title{
				float: left;
				margin-left: 9%;
				line-height: 40rpx;
				font-size: 30rpx;
			}
		}
		.date{
			margin-top: 20rpx;
			width: 80%;
			margin-left: 10%;
			.d-img{
				float: left;
				margin-left: 10%;
				// top: 8rpx;
				width: 40rpx;
				height: 40rpx;
			}
			.d-picker{
				// float: left;
				width: 60%;
				line-height: 40rpx;
				font-size: 30rpx;
				// padding-left: 0rpx;
			}
			.d-title{
				padding-left: 17rpx;
				float: left;
				margin-left: 10%;
				line-height: 40rpx;
				font-size: 30rpx;
			}
		}
		.email{
			margin-top: 20rpx;
			width: 80%;
			margin-left: 10%;
			.e-img{
				float: left;
				margin-left: 10%;
				// top: 8rpx;
				width: 40rpx;
				height: 40rpx;
			}
			.e-title{
				float: left;
				margin-left: 9%;
				line-height: 40rpx;
				font-size: 30rpx;
			}
		}

	}
	.btn{
		position: fixed;
		bottom: 15%;
		width: 80%;
		height: 90rpx;
		background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
		border-radius: 60rpx;
		margin-left: 10%;
		text-align: center;
		.text{
			line-height: 90rpx;
			color: #FFFFFF;
			font-weight: bolder;
		}
	}
/* 提示窗口 */
	.uni-tip {
		padding: 15px;
		width: 300px;
		background: #fff;
		box-sizing: border-box;
		border-radius: 10px;
		text-align: center;
	}

	.uni-tip-title {
		text-align: center;
		font-weight: bold;
		font-size: 16px;
		color: #333;
		
	}

	.uni-tip-content {
		margin-top: 10 rpx;
		width: 100%;
		padding: 15px;
		font-size: 14px;
		color: #666;
		// border: medium solid rgb(250,0,255);
		border-radius: 30rpx;
		.uni-tip-content-left{
			float: left;
		}
		.uni-tip-content-right{
			float: left;
			width: 240rpx;
		}
		.uni-tip-content-code{
			float: left;
			width: 200rpx;
		}
		.uni-tip-btn{
			float: right;
			background-color: #fd868c;
			height: 40rpx;
			width: 100rpx;
			font-size: 20rpx;
			padding: 0rpx;
			line-height: 40rpx;
		}
		.uni-tip-text{
			float: right;
			font-size: 20rpx;
			line-height: 40rpx;
			color: #fd868c;
		}
	}
	.input-item{
		display:flex;
		flex-direction: column;
		align-items:flex-start;
		justify-content: center;
		padding: 0 30upx;
		background:$page-color-light;
		height: 120upx;
		border-radius: 4px;
		margin-bottom: 50upx;
		&:last-child{
			margin-bottom: 0;
		}
		.tit{
			height: 50upx;
			line-height: 56upx;
			font-size: $font-sm+2upx;
			color: $font-color-base;
		}
		.input{
			height: 60upx;
			font-size: $font-base + 2upx;
			color: $font-color-dark;
			width: 100%;
		}
		.img#ImagePic {
			position: absolute;
			right: calc(10%);
			height: 60upx;
			width: 240upx;
		}
	}
	.uni-tip-group-button {
		margin-top: 10px;
		display: flex;
	}

	.uni-tip-button {
		width: 50%;
		text-align: center;
		font-size: 14px;
		color: #3b4144;
		float: left;
	}
	
	.radio-group{
	  align-items: center;
	  min-height: 100upx;
	  // float: left;
	  
	}
	 .radio-group .radio{
	  margin-left: 20rpx;
	}
	 .radio-group .radio{
	  margin-left: 10rpx;
	}
	.radio-style{
		transform:scale(0.7);
		color: #fd868c;
	}
}
